.jimu-widget-zoom {
  background-color: transparent;
}

.jimu-widget-zoomslider.vertical .zoom-in {
  border-bottom: none;
}

.jimu-widget-zoom .esri-zoom .esri-widget {
  color: #FFF;
  background: rgba(0,0,0,0.5);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin-bottom: 5px;
}